<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST" action="{{ url_for('student.apply_job', drive_id=drive_id) }}" enctype="multipart/form-data">
        <label for="">Your Student ID</label>
        <input type="text" name="student_id">

        <label for="">Your CV</label>
        <input type="file" name="cv" accept=".pdf"><br><br>

        <button type="submit" value="submit"> Submit </button>

    </form>
</body>
</html>