<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{name}}</title>
</head>

<body>
    <h1>Welcome ! {{name}}</h1>

    <h2>Post New Job</h2>

    <form method="POST" action="">
        <input type="text" name="title" placeholder="Job Title" required><br><br>

        <input type="text" name="skills" placeholder="Required Skills" required><br><br>

        <input type="number" name="experience" placeholder="Experience (years)" required><br><br>

        <input type="number" name="salary" placeholder="Salary (LPA)" required><br><br>

        <button type="submit">Post Job</button>
    </form>



    <footer>
        <form action="{{ url_for('logout') }}" method="get">
            <button type="submit">Logout</button>
        </form>
    </footer>
</body>

</html>