<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <script>
        function showLoginFields() {
            let role = document.querySelector('input[name="role"]:checked').value;

            let studentDiv = document.getElementById("studentLogin");
            let hirerDiv = document.getElementById("hirerLogin");

            studentDiv.style.display = "none";
            hirerDiv.style.display = "none";

            studentDiv.querySelectorAll("input").forEach(i => i.disabled = true);
            hirerDiv.querySelectorAll("input").forEach(i => i.disabled = true);

            if (role === "student") {
                studentDiv.style.display = "block";
                studentDiv.querySelectorAll("input").forEach(i => i.disabled = false);
            } else {
                hirerDiv.style.display = "block";
                hirerDiv.querySelectorAll("input").forEach(i => i.disabled = false);
            }
        }
    </script>
</head>
<body>
    <h1>Login Page</h1>

    <form action="/login" method="post">

    <!-- Role Selection -->
    <fieldset>
        <legend>Login as</legend>

        <label>
            <input type="radio" name="role" value="student" onclick="showLoginFields()" required>
            Student
        </label>

        <label>
            <input type="radio" name="role" value="hirer" onclick="showLoginFields()">
            Company
        </label>
    </fieldset>

    <br>

    <!-- Student Login -->
    <div id="studentLogin" style="display:none;">
        <h3>Student Login</h3>

        <label>Email:</label><br>
        <input type="email" name="email" placeholder=" unique username only."><br><br>

        <label>Password:</label><br>
        <input type="password" name="student_password"><br><br>
    </div>

    <!-- Company Login -->
    <div id="hirerLogin" style="display:none;">
        <h3>Company Login</h3>

        <label>Company Name:</label><br>
        <input type="text" name="company_name" placeholder=" unique companies only."><br><br>

        <label>Password:</label><br>
        <input type="password" name="hirer_password"><br><br>
    </div>

    <br>
    <input type="submit" value="Login">
    </form>
    
    <br><br><p style="display:inline;">Don't have an account?</p>
    <a href="{{ url_for('register') }}">
    <button type="button">Register Here</button>
    </a>

    {% if error %}
    <div id="error_msg" style="color: {{ color }}; margin-top: 15px;">
        {{ error }}
    </div>
    {% endif %}
    
</body>
</html>